main {
  margin-left: 50px;
}

footer {
  position: fixed;
  bottom: 0;
  background: rgb(250, 248, 248);
  height: 40px;
  width: 100%;
  border: 3px solid rgb(250, 248, 248);
  padding-left: 500px;
  padding-top: 10px;
  text-emphasis-color: red;
  color: black;
}
