body {
  background-color: #db8e299c;
}
main {
  margin-left: 50px;
  margin-top: 20px;
  border-width: 30px;
  border-style: groove;
  max-width: 540px;
  background-color: wheat;
  margin-bottom: 100px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

footer {
  position: fixed;
  bottom: 0;
  background: rgb(250, 248, 248);
  height: 40px;
  width: 100%;
  border: 3px solid rgb(250, 248, 248);
  padding-left: 500px;
  padding-top: 10px;
  text-emphasis-color: red;
  color: black;
}

/*
  The width of the wrapper will be 1024px
  at browser widths above 768px
*/
.ma {
  /* Box-model */
  width: 1024px;

  /* Positioning */
  margin: 40px auto;
}

#main-content,
#sidebar {
  /* Box-model */
  width: 500px;
  padding: 30px;
}

#main-content {
  /* Positioning */
  float: left;

  /* Visual */
  background: #fff;
}

#sidebar {
  /* Positioning */
  float: right;

  /* Visual */
  background: #eee;
}

@media screen and (max-width: 768px) {
  body {
    background-color: #333;
  }

  .ma {
    /* Box-model */
    width: 100%;
    padding: 20px;
  }

  #main-content,
  #sidebar {
    width: 100%;
  }

  #sidebar {
    margin-top: 40px;
  }
}

/* Additional Screen Sizes */

/* Width at 320px and below */
@media screen and (max-width: 320px) {
  body {
    background-color: #333;
  }

  .ma {
    /* Box-model */
    width: 100%;
    padding: 20px;
  }

  #main-content,
  #sidebar {
    width: 100%;
  }

  #sidebar {
    margin-top: 40px;
  }
}

/* Width at 168px and below */
@media screen and (max-width: 168px) {
  body {
    background-color: #333;
  }

  .ma {
    /* Box-model */
    width: 100%;
    padding: 20px;
  }

  #main-content,
  #sidebar {
    width: 100%;
  }

  #sidebar {
    margin-top: 40px;
  }
}
