body {
  background-color: #db8e299c;
}
main {
  margin-left: 50px;
  margin-top: 20px;
  border-width: 30px;
  border-style: groove;
  max-width: 540px;
  background-color: wheat;
  margin-bottom: 100px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

footer {
  position: fixed;
  bottom: 0;
  background: rgb(250, 248, 248);
  height: 40px;
  width: 100%;
  border: 3px solid rgb(250, 248, 248);
  padding-left: 500px;
  padding-top: 10px;
  text-emphasis-color: red;
  color: black;
}
